@using hazi3.Enums
@model IEnumerable<hazi3.Entities.OwnerEntity>

@{
    ViewData["Title"] = "Tulajdonosok";
}



<div class="container">
    <h1>Owners</h1>

    <p>
        <a class="btn btn-primary" asp-action="Create">Create new category</a>
    </p>

    <form method="get" class="d-flex gap-1">
        <div class="form-floating mb-3 flex-grow-1">
            <select id="sortBy" name="sortBy" class="form-control">
                <option value="Id">
                    Azonosító
                </option>
                <option value="Name">
                    Név
                </option>
            </select>
            <label for="sortBy">Rendezés tulajdonsága</label>
        </div>
        <div class="form-floating mb-3 flex-grow-1">
            <select id="sortBy" name="sortOrder" class="form-control">
                <option value="Asc">
                    Növekvő
                </option>
                <option value="Desc">
                    Csökkenő
                </option>
            </select>
            <label for="sortBy">Rendezés iránya</label>
        </div>
        <div class="form-floating mb-3  flex-grow-1">
            <input id="searchByName" name="searchByName" class="form-control" placeholder="Bela" />
            <label for="searchByName" class="control-label">Keresés név alapján</label>
        </div>
        <div class="form-floating mb-3 flex-grow-1">
            @Html.DropDownList("homeTypeFilter", Html.GetEnumSelectList<HomeType>(), "", new
                {
                    @class = "form-control"
                })
            <label for="homeTypeFilter" class="control-label">Lakóhely szűrő</label>
        </div>
        <div class="form-floating mb-3  flex-grow-1">
            <select id="experiencedFilter" name="experiencedFilter" class="form-control">
                <option value="">
                    -
                </option>
                <option value="True">
                    Tapasztalt
                </option>
                <option value="False">
                    Tapasztalatlan
                </option>
            </select>
            <label for="experiencedFilter">Tapasztalat</label>
        </div>

        <div class="d-flex justify-content-center mb-4">
            <input type="submit" value="Kereses" class="btn btn-secondary"/>
        </div>
    </form>

    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HomeType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExperiencedKeeper)
                </th>
                <th>
                    Műveletek
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HomeType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExperiencedKeeper)
                    </td>
                    <td>
                        <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>