@model IEnumerable<hazi3.Entities.PetEntity>

@{
	ViewData["Title"] = "Index";
}

<h1>Pets</h1>

<p>
	<a asp-action="Create">Create new pet</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				Profil kép
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Gender)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Age)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Weight)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CategoryId)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					<div class="pet-image-li">
						<img class="img-fluid w-100 h-100" src="@item.PhotoUrl" />
					</div>
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Gender)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Age)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Weight)
				</td>
				<td>
					@(item.Category?.Name ?? "-")
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
					<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
					<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>

<style>
	.pet-image-li {
		height: 128px;
		width: 128px;

		object-fit: cover;
	}
</style>